<div style="font-family:Segoe UI, sans-serif; background-color:#f9fbfc; border:2px solid #e0e0e0; border-radius:12px; padding:25px;">

  <h1 style="color:#1A73E8; font-size:32px; font-weight:bold; text-shadow:1px 1px 1px #ccc;">
    üöÄ Customer Data Cleaning & Transformation ‚Äì Mini Project
  </h1>

  <p style="font-size:17px; color:#333;">
    This mini project demonstrates a complete cycle of 
    <b style="color:#D32F2F;">Data Cleaning</b>, 
    <b style="color:#388E3C;">Transformation</b>, and 
    <b style="color:#F57C00;">Summarization</b> using <b>Python & pandas</b>.
    The goal is to turn raw, messy customer data into a 
    <b style="color:#0288D1;">cleaned, structured, and insightful dataset</b>.
  </p>

  <h2 style="color:#7B1FA2; font-size:22px;">üßπ Problems in the Raw Dataset:</h2>
  <ul style="font-size:16px; color:#444; line-height:1.8;">
    <li><b style="color:#D32F2F;">Missing values</b> in critical columns</li>
    <li><b style="color:#D32F2F;">Mixed data types</b> like strings in numeric fields</li>
    <li><b style="color:#D32F2F;">Messy text</b> ‚Äì extra spaces, inconsistent casing</li>
    <li><b style="color:#D32F2F;">Inconsistent date formats</b></li>
    <li><b style="color:#D32F2F;">Duplicate records</b></li>
  </ul>

  <h2 style="color:#388E3C; font-size:22px;">üõ†Ô∏è Data Cleaning Steps Applied:</h2>
  <ul style="font-size:16px; color:#444; line-height:1.8;">
    <li><code style="color:#1E88E5;"><b>dropna()</b></code> and <code style="color:#1E88E5;"><b>fillna()</b></code> to manage missing values</li>
    <li><code style="color:#1E88E5;"><b>drop_duplicates()</b></code> to remove redundant entries</li>
    <li><code style="color:#1E88E5;"><b>astype()</b></code> to ensure consistent data types</li>
    <li><code style="color:#1E88E5;"><b>str.strip()</b></code> and <code style="color:#1E88E5;"><b>str.lower()</b></code> for text cleanup</li>
    <li><code style="color:#1E88E5;"><b>pd.to_datetime()</b></code> for fixing date columns</li>
  </ul>

  <h2 style="color:#F57C00; font-size:22px;">üìä Data Transformation & Aggregation:</h2>
  <ul style="font-size:16px; color:#444; line-height:1.8;">
    <li><code style="color:#7C4DFF;"><b>groupby()</b></code> used to analyze customers by 
      <b style="color:#388E3C;">Region</b>, <b style="color:#388E3C;">City</b>, and 
      <b style="color:#388E3C;">Favorite Genre</b>
    </li>
    <li>Created new column <code style="color:#7C4DFF;"><b>Age group</b></code> using <b>lambda</b> function</li>
    <li>Filtered customers using <b>logical conditions</b> and <b>query()</b> for advanced analysis</li>
  </ul>

  <h2 style="color:#0288D1; font-size:22px;">üéØ Project Outcome:</h2>
  <p style="font-size:16px; color:#333; line-height:1.7;">
    The dataset is now <b style="color:#43A047;">clean, structured</b>, and saved as 
    <code style="background:#e0f2f1; padding:3px 6px; border-radius:4px;">cleaned_data_customers.xlsx</code>. 
    This paves the way for <b style="color:#0288D1;">accurate analysis</b>, 
    <b style="color:#0288D1;">visualization</b>, and 
    <b style="color:#0288D1;">data-driven decisions</b>.
  </p>

</div>

In [2]:
# step 2:- to find out is their ant null value and how many?

df.isnull().sum()

Customer_ID         0
Name                0
City                1
Age                 3
Email               3
Favourite_Genre     0
Movie_Interested    0
dtype: int64

In [3]:
# step 3:- delete the null values from this customers_dataset

df2= df.dropna().copy()

In [4]:
# step:4 Drop the duplicates

df2.drop_duplicates()

,Customer_ID,Name,City,Age,Email,Favourite_Genre,Movie_Interested
0,C001,Priya Sharma,Mumbai,25.0,priya@gmail.com,Comedy,3 Idiots
1,C002,Rahul Verma,Delhi,33.0,rahul.verma@outlook.com,Action,Pathaan
3,C004,Rohan Mehta,Pune,19.0,rohan19@gmail,Romance,Tamasha
4,C005,Fatima Shaikh,Kolkata,28.0,fatima@outlook.com,Thriller,Andhadhun
5,C006,Aarav Singh,Mumbai,22.0,aarav@gmail.com,Drama,Gully Boy
8,C009,Riya Kapoor,Delhi,27.0,riya.kapoor@gmail.com,Comedy,Chennai Express
9,C010,Aman Tiwari,Lucknow,40.0,aman.t@protonmail.com,Thriller,Article 15
10,C011,Aishwarya Rai,Mumbai,25.0,aish.rai@bollywood.com,Drama,Lagaan
11,C012,Ramesh Sinha,Delhi,38.0,ramesh123@gmail.com,Sci-Fi,Ra.One
13,C014,Priya Sharma,Mumbai,25.0,priya@gmail.com,Comedy,3 Idiots
14,C015,Vishal Khurana,Pune,19.0,vishal.kh@domain.org,Romance,Tamasha

In [5]:
# step 5:- change the type of the column ['Age'] 

df2['Age']= df2['Age'].astype(int)

In [6]:
df2

,Customer_ID,Name,City,Age,Email,Favourite_Genre,Movie_Interested
0,C001,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots
1,C002,Rahul Verma,Delhi,33,rahul.verma@outlook.com,Action,Pathaan
3,C004,Rohan Mehta,Pune,19,rohan19@gmail,Romance,Tamasha
4,C005,Fatima Shaikh,Kolkata,28,fatima@outlook.com,Thriller,Andhadhun
5,C006,Aarav Singh,Mumbai,22,aarav@gmail.com,Drama,Gully Boy
8,C009,Riya Kapoor,Delhi,27,riya.kapoor@gmail.com,Comedy,Chennai Express
9,C010,Aman Tiwari,Lucknow,40,aman.t@protonmail.com,Thriller,Article 15
10,C011,Aishwarya Rai,Mumbai,25,aish.rai@bollywood.com,Drama,Lagaan
11,C012,Ramesh Sinha,Delhi,38,ramesh123@gmail.com,Sci-Fi,Ra.One
13,C014,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots
14,C015,Vishal Khurana,Pune,19,vishal.kh@domain.org,Romance,Tamasha
16,C004,Rohan Mehta,Pune,19,rohan19@gmail,Romance,Tamasha

In [7]:
# step 6:- choose Favourite_Genere and city and then chooseboth the values by using 'or' operator

df2[(df2['Favourite_Genre']=='Comedy') | (df2['City']=='Delhi')]

,Customer_ID,Name,City,Age,Email,Favourite_Genre,Movie_Interested
0,C001,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots
1,C002,Rahul Verma,Delhi,33,rahul.verma@outlook.com,Action,Pathaan
8,C009,Riya Kapoor,Delhi,27,riya.kapoor@gmail.com,Comedy,Chennai Express
11,C012,Ramesh Sinha,Delhi,38,ramesh123@gmail.com,Sci-Fi,Ra.One
13,C014,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots

In [8]:
# step 6:- choose Name and City and then choose both the values by using 'or' operator

df2[(df2['Name']=='Priya Sharma' ) & (df2['City']=='Mumbai')]

,Customer_ID,Name,City,Age,Email,Favourite_Genre,Movie_Interested
0,C001,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots
13,C014,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots

In [9]:
# step 7:- using 'apply' method to filter the Age by identifyy which age group is 'Minor' and 'Adult'

df2['Age group']= df2['Age'].apply(lambda x: 'Minor' if x<25 else 'Adult')

In [10]:
df2

,Customer_ID,Name,City,Age,Email,Favourite_Genre,Movie_Interested,Age group
0,C001,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
1,C002,Rahul Verma,Delhi,33,rahul.verma@outlook.com,Action,Pathaan,Adult
3,C004,Rohan Mehta,Pune,19,rohan19@gmail,Romance,Tamasha,Minor
4,C005,Fatima Shaikh,Kolkata,28,fatima@outlook.com,Thriller,Andhadhun,Adult
5,C006,Aarav Singh,Mumbai,22,aarav@gmail.com,Drama,Gully Boy,Minor
8,C009,Riya Kapoor,Delhi,27,riya.kapoor@gmail.com,Comedy,Chennai Express,Adult
9,C010,Aman Tiwari,Lucknow,40,aman.t@protonmail.com,Thriller,Article 15,Adult
10,C011,Aishwarya Rai,Mumbai,25,aish.rai@bollywood.com,Drama,Lagaan,Adult
11,C012,Ramesh Sinha,Delhi,38,ramesh123@gmail.com,Sci-Fi,Ra.One,Adult
13,C014,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
14,C015,Vishal Khurana,Pune,19,vishal.kh@domain.org,Romance,Tamasha,Minor
16,C004,Rohan Mehta,Pune,19,rohan19@gmail,Romance,Tamasha,Minor

In [11]:
df2

,Customer_ID,Name,City,Age,Email,Favourite_Genre,Movie_Interested,Age group
0,C001,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
1,C002,Rahul Verma,Delhi,33,rahul.verma@outlook.com,Action,Pathaan,Adult
3,C004,Rohan Mehta,Pune,19,rohan19@gmail,Romance,Tamasha,Minor
4,C005,Fatima Shaikh,Kolkata,28,fatima@outlook.com,Thriller,Andhadhun,Adult
5,C006,Aarav Singh,Mumbai,22,aarav@gmail.com,Drama,Gully Boy,Minor
8,C009,Riya Kapoor,Delhi,27,riya.kapoor@gmail.com,Comedy,Chennai Express,Adult
9,C010,Aman Tiwari,Lucknow,40,aman.t@protonmail.com,Thriller,Article 15,Adult
10,C011,Aishwarya Rai,Mumbai,25,aish.rai@bollywood.com,Drama,Lagaan,Adult
11,C012,Ramesh Sinha,Delhi,38,ramesh123@gmail.com,Sci-Fi,Ra.One,Adult
13,C014,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
14,C015,Vishal Khurana,Pune,19,vishal.kh@domain.org,Romance,Tamasha,Minor
16,C004,Rohan Mehta,Pune,19,rohan19@gmail,Romance,Tamasha,Minor

In [12]:
# step 9:- distinguish the Age is lieing between 19 to 42 

df2.query("19< Age <42")

,Customer_ID,Name,City,Age,Email,Favourite_Genre,Movie_Interested,Age group
0,C001,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
1,C002,Rahul Verma,Delhi,33,rahul.verma@outlook.com,Action,Pathaan,Adult
4,C005,Fatima Shaikh,Kolkata,28,fatima@outlook.com,Thriller,Andhadhun,Adult
5,C006,Aarav Singh,Mumbai,22,aarav@gmail.com,Drama,Gully Boy,Minor
8,C009,Riya Kapoor,Delhi,27,riya.kapoor@gmail.com,Comedy,Chennai Express,Adult
9,C010,Aman Tiwari,Lucknow,40,aman.t@protonmail.com,Thriller,Article 15,Adult
10,C011,Aishwarya Rai,Mumbai,25,aish.rai@bollywood.com,Drama,Lagaan,Adult
11,C012,Ramesh Sinha,Delhi,38,ramesh123@gmail.com,Sci-Fi,Ra.One,Adult
13,C014,Priya Sharma,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult

In [13]:
# step 10:- Name column is get side and the rest of the columns are mentioned collectively 

cols= ['Name']+[col for col in df2.columns if col !='Name']
df2= df2[cols]

In [14]:
df2

,Name,Customer_ID,City,Age,Email,Favourite_Genre,Movie_Interested,Age group
0,Priya Sharma,C001,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
1,Rahul Verma,C002,Delhi,33,rahul.verma@outlook.com,Action,Pathaan,Adult
3,Rohan Mehta,C004,Pune,19,rohan19@gmail,Romance,Tamasha,Minor
4,Fatima Shaikh,C005,Kolkata,28,fatima@outlook.com,Thriller,Andhadhun,Adult
5,Aarav Singh,C006,Mumbai,22,aarav@gmail.com,Drama,Gully Boy,Minor
8,Riya Kapoor,C009,Delhi,27,riya.kapoor@gmail.com,Comedy,Chennai Express,Adult
9,Aman Tiwari,C010,Lucknow,40,aman.t@protonmail.com,Thriller,Article 15,Adult
10,Aishwarya Rai,C011,Mumbai,25,aish.rai@bollywood.com,Drama,Lagaan,Adult
11,Ramesh Sinha,C012,Delhi,38,ramesh123@gmail.com,Sci-Fi,Ra.One,Adult
13,Priya Sharma,C014,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
14,Vishal Khurana,C015,Pune,19,vishal.kh@domain.org,Romance,Tamasha,Minor
16,Rohan Mehta,C004,Pune,19,rohan19@gmail,Romance,Tamasha,Minor

In [15]:
# using 'groupby' we can do sum() function to add the values

df2.groupby('Name')['Age'].sum()

Name
Aarav Singh       22
Aishwarya Rai     25
Aman Tiwari       40
Fatima Shaikh     28
Priya Sharma      50
Rahul Verma       33
Ramesh Sinha      38
Riya Kapoor       27
Rohan Mehta       38
Vishal Khurana    19
Name: Age, dtype: int32

In [16]:
df2.groupby('Name')['Age'].mean()

Name
Aarav Singh       22.0
Aishwarya Rai     25.0
Aman Tiwari       40.0
Fatima Shaikh     28.0
Priya Sharma      25.0
Rahul Verma       33.0
Ramesh Sinha      38.0
Riya Kapoor       27.0
Rohan Mehta       19.0
Vishal Khurana    19.0
Name: Age, dtype: float64

In [17]:
df2

,Name,Customer_ID,City,Age,Email,Favourite_Genre,Movie_Interested,Age group
0,Priya Sharma,C001,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
1,Rahul Verma,C002,Delhi,33,rahul.verma@outlook.com,Action,Pathaan,Adult
3,Rohan Mehta,C004,Pune,19,rohan19@gmail,Romance,Tamasha,Minor
4,Fatima Shaikh,C005,Kolkata,28,fatima@outlook.com,Thriller,Andhadhun,Adult
5,Aarav Singh,C006,Mumbai,22,aarav@gmail.com,Drama,Gully Boy,Minor
8,Riya Kapoor,C009,Delhi,27,riya.kapoor@gmail.com,Comedy,Chennai Express,Adult
9,Aman Tiwari,C010,Lucknow,40,aman.t@protonmail.com,Thriller,Article 15,Adult
10,Aishwarya Rai,C011,Mumbai,25,aish.rai@bollywood.com,Drama,Lagaan,Adult
11,Ramesh Sinha,C012,Delhi,38,ramesh123@gmail.com,Sci-Fi,Ra.One,Adult
13,Priya Sharma,C014,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
14,Vishal Khurana,C015,Pune,19,vishal.kh@domain.org,Romance,Tamasha,Minor
16,Rohan Mehta,C004,Pune,19,rohan19@gmail,Romance,Tamasha,Minor

In [18]:
# with this reset the index 
df2.reset_index(drop=True, inplace=True)

In [19]:
df2

,Name,Customer_ID,City,Age,Email,Favourite_Genre,Movie_Interested,Age group
0,Priya Sharma,C001,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
1,Rahul Verma,C002,Delhi,33,rahul.verma@outlook.com,Action,Pathaan,Adult
2,Rohan Mehta,C004,Pune,19,rohan19@gmail,Romance,Tamasha,Minor
3,Fatima Shaikh,C005,Kolkata,28,fatima@outlook.com,Thriller,Andhadhun,Adult
4,Aarav Singh,C006,Mumbai,22,aarav@gmail.com,Drama,Gully Boy,Minor
5,Riya Kapoor,C009,Delhi,27,riya.kapoor@gmail.com,Comedy,Chennai Express,Adult
6,Aman Tiwari,C010,Lucknow,40,aman.t@protonmail.com,Thriller,Article 15,Adult
7,Aishwarya Rai,C011,Mumbai,25,aish.rai@bollywood.com,Drama,Lagaan,Adult
8,Ramesh Sinha,C012,Delhi,38,ramesh123@gmail.com,Sci-Fi,Ra.One,Adult
9,Priya Sharma,C014,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
10,Vishal Khurana,C015,Pune,19,vishal.kh@domain.org,Romance,Tamasha,Minor
11,Rohan Mehta,C004,Pune,19,rohan19@gmail,Romance,Tamasha,Minor

In [20]:
# finally save this cleaned data in the file

df2.to_excel('cleaned_data_customers.xlsx',index= False) 
df2= pd.read_excel('cleaned_data_customers.xlsx')
df2

,Name,Customer_ID,City,Age,Email,Favourite_Genre,Movie_Interested,Age group
0,Priya Sharma,C001,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
1,Rahul Verma,C002,Delhi,33,rahul.verma@outlook.com,Action,Pathaan,Adult
2,Rohan Mehta,C004,Pune,19,rohan19@gmail,Romance,Tamasha,Minor
3,Fatima Shaikh,C005,Kolkata,28,fatima@outlook.com,Thriller,Andhadhun,Adult
4,Aarav Singh,C006,Mumbai,22,aarav@gmail.com,Drama,Gully Boy,Minor
5,Riya Kapoor,C009,Delhi,27,riya.kapoor@gmail.com,Comedy,Chennai Express,Adult
6,Aman Tiwari,C010,Lucknow,40,aman.t@protonmail.com,Thriller,Article 15,Adult
7,Aishwarya Rai,C011,Mumbai,25,aish.rai@bollywood.com,Drama,Lagaan,Adult
8,Ramesh Sinha,C012,Delhi,38,ramesh123@gmail.com,Sci-Fi,Ra.One,Adult
9,Priya Sharma,C014,Mumbai,25,priya@gmail.com,Comedy,3 Idiots,Adult
10,Vishal Khurana,C015,Pune,19,vishal.kh@domain.org,Romance,Tamasha,Minor
11,Rohan Mehta,C004,Pune,19,rohan19@gmail,Romance,Tamasha,Minor

<hr>
<h2 style="color:#E91E63; font-family:Verdana; font-weight:bold;">üéØ <u>Conclusion</u></h2>

<p style="font-size:16px; color:#333;">
The <span style="color:#1A73E8;"><b>Customer Dataset Cleaning & Transformation</b></span> project demonstrated how messy, raw data can be transformed into clean, structured, and <b style="color:#4CAF50;">analysis-ready format</b> using <b style="color:#FF9800;">Python (Pandas)</b>.
</p>

<h3 style="color:#3F51B5;">‚úÖ <b>Key Actions Performed:</b></h3>
<ul style="font-size:15px; color:#444;">
  <li><b style="color:#009688;">Removed</b> exact <b>duplicate rows</b> üìå</li>
  <li><b style="color:#009688;">Fixed</b> inconsistent <b>email formats</b> ‚úâÔ∏è</li>
  <li><b style="color:#009688;">Standardized</b> column names for better <b>readability</b> üìù</li>
  <li><b style="color:#009688;">Corrected</b> data types for numerical and categorical fields üî¢</li>
  <li><b style="color:#009688;">Created</b> a new column for <b>Age Group</b> classification üë•</li>
</ul>

<h3 style="color:#FF5722;">‚ö†Ô∏è <b>Special Data Note:</b></h3>
<p style="font-size:15px; color:#444;">
<b style="color:#F44336;">Customer: Priya Sharma</b> appears <b>twice</b> with different <b>Customer_IDs (C001 and C014)</b>.<br>
This could indicate <b style="color:#9C27B0;">multiple registrations</b> in the source system.<br>
For this project, <b>both records were retained</b> to preserve <b>data integrity</b> and reflect real-world duplication scenarios.
</p>

<h3 style="color:#4CAF50;">üìä <b>Impact:</b></h3>
<p style="font-size:15px; color:#333;">
With a <b style="color:#4CAF50;">cleaned dataset</b>, analysts can now confidently:
</p>
<ul style="font-size:15px; color:#444;">
  <li><b>Segment customers</b> based on meaningful fields</li>
  <li><b>Track movie preferences</b> using genre and city data</li>
  <li><b>Design targeted marketing strategies</b> üîç</li>
</ul>

<hr>